/* CSS Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}


/* link Button */

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.container {
    display: grid;
    grid-gap: 20px;
}


/* navigation bar */

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0;
}

.main-nav a {
    display: block;
    padding: 0.8rem;
    background: var(--light);
    color: var(--dark);
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}


/* top-container */

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b';
}

.showcase {
    grid-area: showcase;
    background-image: url(https://image.ibb.co/kYJK8x/showcase.jpg);
    min-height: 400px;
    padding: 3rem;
    display: flex;
    color: var(--light);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    margin-bottom: 0;
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
}


/* Top box */

.top-box {
    background-color: var(--light);
    padding: 1.5rem;
    display: grid;
    justify-content: center;
    text-align: center;
    box-shadow: var(--shadow);
}

.top-box .price {
    font-size: 2rem;
    font-weight: bold;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}


/* Boxes */

.boxes {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 2rem 0;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding: 2rem;
    align-items: center;
    text-align: center;
    box-shadow: var(--shadow);
}

.box h3 {
    font-size: 2rem;
}

.box p {
    font-size: 1rem;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--primary);
    padding: 3rem;
    grid-gap: 30px;
    box-shadow: var(--shadow);
}


/* Portfolio */

.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 3rem;
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

footer {
    background-color: var(--dark);
    color: var(--light);
    align-items: center;
    margin-top: 1rem;
    text-align: center;
}