* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/bg-desktop.svg);
    background-size: cover;
    background-position: center;
    background-color: hsl(257, 40%, 49%);
    box-sizing: border-box;
    margin: 30px 40px;
    background-repeat: no-repeat;
}

.logo img {
    width: 15rem;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 1rem;
}

.main-container img {
    width: 100%;
}

.box-a {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 4rem;
}

.box-a h1 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

.box-a p {
    font-size: 1.1rem;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

.btn {
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 0.6rem;
    width: 6.5rem;
    margin-top: 2rem;
    border-radius: 20rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 2px 15px black;
}

.media-logo {
    color: white;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.fab {
    padding: 0.5rem;
    margin: 1rem;
    align-items: center;
    border: 1px solid white;
    border-radius: 100%;
}

.fab:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
    cursor: pointer;
}

.btn:hover {
    background: hsl(300, 69%, 71%);
    color: white;
}